
footer{
    margin-top: 10%;
    width:100%;
    text-align: center;
}

body{
    background-image: url('wallpaperflare.com_wallpaper\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    height:400px;
    margin-top: 150px;
    margin-bottom: 100px;
}
#submit{
    background-color: rgb(20, 20, 20);
    color: white;
    margin-left: 160px;
    border-color: rgb(20, 20, 20);
    border-radius: 10px;
  }
  .card-signin {
    
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  img{
    margin-left:120px;
    margin-top: 0px;
    
  }
  
  .card-body{
    
    height: 350px;
  }
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  